body {
  background: linear-gradient(315deg, rgb(67, 206, 162) 0%, rgb(24, 90, 157) 100%);
  height: 100vh;
  overflow: hidden;
}

.padding-text {
  margin: 10px 0 25px 15px;
}

/*# sourceMappingURL=style.css.map */
